
<!-- Autism MERI system, global launch file -->
<launch>
  <arg name="camera_name" default="kinect2_b"/>
  <arg name="FullPath" default="$(find meri_local)/data/user.jpg"/>
  <arg name="to_FullPath" default="$(env HOME)/user.jpg"/>
  <arg name="box_size" default="250"/>
  <arg name="bag_path" default="$(env HOME)/ROS_BAG_test/HG_07_08"/>
  <arg name="record_focus_data" default="true" />
  <arg name="face_frame" default="focus_frame"/>
  
  <!-- Launch calibration results -->
  <include file="$(find meri_global)/launch/opt_calibration_results.launch"/>
  
  <include file="$(find meri_global)/launch/focus_estimation.launch">
      <arg name="face_frame" value="$(arg face_frame)"/>
  </include>   
  
  <node pkg="meri_global" type="init_child_image" name="init_image" output="screen">
      <remap from="/init_image/image" to="/$(arg camera_name)/hd/image_color_crop"/>
      <param name="FullPath" value="$(arg FullPath)"/>
      <param name="to_FullPath" value="$(arg to_FullPath)"/>
      <param name="box_size" value="$(arg box_size)"/>
  </node>
  
  <node pkg="meri_global" type="global_pose_estimation" name="global_estimation" output="screen">
    <param name="face_frame" value="$(arg face_frame)"/>
    <remap from="/global_estimation/input" to="/local_pose"/>
  </node>

  <!-- Record data -->
  <include file="$(find meri_global)/launch/record_data.launch">
    <arg name="bag_path" value="$(arg bag_path)"/>
    <arg name="record_focus_data" value="$(arg record_focus_data)" />
  </include> 

</launch>


